<!DOCTYPE html>
<head>
    <title>Create Account</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>


    <script>
        //        密码不一致
        $(document).ready(function () {
            $("#password_confirm").blur(function () {
                if ($("#password_confirm").val() != $("#password").val()) {
                    $("#pwdconfirm ").addClass("has-error");
                }
                else {
                    $("#pwdconfirm ").removeClass("has-error");
                }
            })
        })
    </script>

</head>
<body class="bg-gray">
<div>
    <h1 class="margin-bottom-15">创建用户</h1>

</div>
<div class="container">
    <div class="col-md-12">
        <form class="form-horizontal create-account container" id="border" role="form" action="/user/check_signup"
              method="post" style="margin-bottom: 20px" enctype="multipart/form-data">
            <div class="form-inner">
                <div class="form-group">
                    <div class="col-md-6">
                        <label for="first_name" class="control-label">姓名</label>
                        <input type="text" class="form-control" id="first_name" placeholder="" name="real_name">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <label for="email" class="control-label">邮箱</label>
                        <span class="add-on"><i class="icon-envelope"></i></span>
                        <input type="email" class="form-control" id="email" placeholder="" name="email">
                    </div>
                    <div class="col-md-6">
                        <label for="phone" class="control-label">电话号码</label>
                        <input type="email" class="form-control" id="phone" placeholder="" name="phone">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <label for="username" class="control-label">用户名</label>
                        <input type="text" class="form-control" id="username" placeholder="" name="user_name">
                    </div>
                    <!--<div class="col-md-6 radio-group">
                        <label class="radio-inline">
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1"> 男
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"> 女
                        </label>
                    </div>-->
                </div>

                <div class="form-group">
                    <div class="col-md-6">
                        <label for="password" class="control-label">密码</label>
                        <input type="password" class="form-control" id="password" placeholder="" name="password">
                    </div>
                    <div class="col-md-6" id="pwdconfirm">
                        <label for="password" class="control-label">确认密码</label>
                        <input type="password" class="form-control" id="password_confirm" placeholder="">
                    </div>
                </div>


                <div class="row form-group">
                    <div class="col-md-12">
                        <label class="control-label templatemo-block">身份证照片</label>
                        <input type="file" name="ID_card_image" id="IDCard" class="btn-default btn-file"
                               data-buttonName="btn-primary" data-buttonBefore="true" data-icon="false">
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-12">
                        <label class="control-label templatemo-block">驾驶证照片</label>
                        <input type="file" name="permit_card_image" id="license" class="btn-default btn-file"
                               data-buttonName="btn-primary" data-buttonBefore="true" data-icon="false">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <label><input type="checkbox">我同意
                            <a href="javascript:;" data-toggle="modal" data-target="#templatemo_modal">服务条款和相关政策</a>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="submit" value="创建账号" class="btn btn-info">
                    </div>
                </div>

            </div>


        </form>
        <div class="text-center">
            <a href="login.html" class="create-new">登录
                <i class="fa fa-arrow-circle-o-right"></i>
            </a>
        </div>


    </div>
</div>


</body>
</html>